/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] [class*='announcementBar'] {
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-background-color);
}

[data-theme='dark'] .close {
  color: var(--ifm-color-white);
}

.outdated-text {
  margin: 20px 0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: rgb(229, 246, 253);
  display: flex;
  padding: 6px 16px;
  color: rgb(1, 67, 97);
}

[data-theme='dark'] .outdated-text {
  background-color: rgb(7, 19, 24);
  color: rgb(184, 231, 251);
}

.redocusaurus .menu-content {
  top: 70px !important;
  height: calc(100vh - 70px) !important;
}
/* The following css is for toggling API version dropdown/menu,
selectors like :first-of-type are for browsers those do not support :has */
/* Do not show doc search on api pages */
body:has(.redocusaurus) [class*='searchBox'],
.plugin-redoc [class*='searchBox'],
.plugin-pages [class*='searchBox'] {
  display: none;
}

@media (min-width: 996px) {
  /* hide api-dropdown on other pages */
  .navbar__item.dropdown:not(:has(.api-dropdown)),
  .navbar__item.dropdown:first-of-type {
    display: none;
  }
  /* show api-dropdown dropdown and hide other dropdowns on api pages */
  body:has(.redocusaurus) .navbar__item.dropdown:not(:has(.api-dropdown)),
  .plugin-redoc .navbar__item.dropdown:not(:first-of-type),
  .plugin-pages .navbar__item.dropdown:not(:first-of-type) {
    display: none;
  }
  body:has(.redocusaurus) .navbar__item.dropdown:has(.api-dropdown),
  .plugin-redoc .navbar__item.dropdown:first-of-type,
  .plugin-pages .navbar__item.dropdown:first-of-type {
    display: block;
  }
}

@media (max-width: 996px) {
  /* need to find a way to customize the classname */
  /* on mobile, dropdown becomes menu list */
  /* Hide api version menu on other pages */
  .menu__list-item.menu__list-item--collapsed:has(.api-dropdown),
  .menu__list-item.menu__list-item--collapsed:nth-of-type(3) {
    display: none;
  }
  /* Hide collapsible menus except for API menu on API pages */
  body:has(.redocusaurus) .menu__list-item.menu__list-item--collapsed:not(:has(.api-dropdown)),
  .plugin-redoc .menu__list-item.menu__list-item--collapsed:not(:first-of-type),
  .plugin-pages .menu__list-item.menu__list-item--collapsed:not(:first-of-type) {
    display: none;
  }
  /* Show collapsible API menu on API pages */
  body:has(.redocusaurus) .menu__list-item:has(.api-dropdown),
  .plugin-redoc .menu__list-item:nth-of-type(3),
  .plugin-pages .menu__list-item:nth-of-type(3) {
    display: list-item !important;
  }
}
